.container {
  background-color: rgba(255, 255, 255, 0.1);
  height: 4em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container a {
  color: white;
  margin: 0 15px;
}

.title {
  color: rgb(255, 255, 255);
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 7px 10px;
  margin: 0 15px;
  color: white;
  background-color: rgb(200, 29, 55);
  border: none;
}

.btn:hover {
  background-color: rgb(155, 44, 44);
}

.container svg {
  color: white;
}

.dropDown {
  color: white;
}
