.inputField {
    height: 50px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.inputField input{
    color: black;
    width: 100%;
    border: 2px;
}

.inputField input::placeholder{
    color:rgb(143, 145, 146);
}
.send {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.send label{
    margin: 0 8px;
    cursor: pointer;
}
.send button {
    background-color: #44427c;
    border-radius: 5px;
    font-size: 14px;
   
}

.send button:hover{
    background-color:#4b496b ;
}
